*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
	font-family: "Josefin Sans", sans-serif;
	font-size: 22px;
	line-height: 1.5em;
	background-color: #fdfdfd;
	color: #444444;
}


main {
  width: 500px;
}
